* {
    box-sizing: border-box;
}


/* all four colors */


/* #0097FF blue

#E800FF  purple

#FF6800  orange

#17FF00   green

*/

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    height: 3rem;
    background-color: #0097FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}


.page-action {
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-family: roboto;
    color: white;
    font-size: 18px;
    font-weight: medium;
    font-stretch: normal;
    letter-spacing: 2px;
    line-height: 3rem;
    font-family: sans-serif;
    padding-left: 9px;
    padding-right: 9px;
    
}

.home{
    background-color: white;
    border-radius: 0px;
    color: black;
    /* padding: rem; */
}
.page-action:hover,
.page-action:focus{
    cursor: pointer;
    background-color: #313131;
    cursor: pointer;
    -webkit-transition: box-shadow 4s inset;
    -moz-transition: box-shadow 4s inset;
    -o-transition: box-shadow 4s inset;
    transition: box-shadow 4s inset;
    
      
}


.grid-cont::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .grid-cont::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
    border: 1px solid black;
    border-bottom: 1px solid white;
  }
  
  .grid-cont::-webkit-scrollbar-thumb {
    background-color: #0097FF;   
    border-bottom: 2px solid white;
     /* color of the scroll thumb */
          /* roundness of the scroll thumb */
    /* border: 2px solid rgb(255, 255, 255);  creates padding around scroll thumb */
  }
  


.cellprops-actions-cont {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.cellprops-actions-cont>* {
    display: inline-block;
    margin-right: 3rem;
    color: rgb(0, 0, 0);
}

.formula-actions-cont {
    height: 4rem;
    background-color: #ffffff;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    padding-top: .7vh;
}

.formula-actions-cont>* {
    display: inline-block;
}

.formula-actions-cont>input {
    border: none;
    outline: none;
    height: 70%;
    margin: 20px;
    border: 1px solid transparent;
    border-color: black;
}

.formula-bar {
    width: 95vw;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-color: black;
}

.grid-cont {
    height: calc(100vh - 13.2rem);
    background-color: white;
    position: relative;
    overflow: scroll;
}

.sheet-add-icon {
    margin-left: 0.5rem;
    margin-right: 0.3rem;
    width: 2vw;
    text-transform: uppercase;
}
.new{
    text-transform: uppercase;
}
.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color: #747d8c;
    position: fixed;
    z-index: 4;
}

.address-col-cont {
    position: sticky;
    top: 2rem;
    left: 0;
}

.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}

.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
}

.address-col {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe4ea;
}

.address-row {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
}

.row-cont {
    display: flex;
}

.address-bar {
    width: 5rem;
    padding: 1rem;
}

.formula-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.sheet-actions-cont {
    height: 3.2rem;
    background-color: #0097FF;
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.material-icons{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
}

.material-icons:hover{
    cursor: pointer;
    background-color: hsl(214, 70%, 36%);
    cursor: pointer;
    -webkit-transition: background-color 1.2s ease-out;
    -moz-transition: background-color 1.2s ease-out;
    -o-transition: background-color 1.2s ease-out;
    transition: background-color 1.2s ease-out;
}
.sheets-folder-cont {
    height: 65%;
    background-color: #0097FF;
    display: inline-block;
    color: white;
    width: 97vw;
    text-transform: uppercase;
    margin-bottom: -5vh;
    display: flex;
    font-family: sans-serif;
    align-items: flex-end;
    
    
}


.color-prop {
    position: relative;
}

.color-prop>input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.sheet-folder {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: medium;
    margin-left: 0.5rem;
    padding: 0.3rem;
    line-height: 2.67rem;
    letter-spacing: 1px;
    padding-bottom: 0.2rem;
    align-items: center;
    text-transform: lowercase;
    margin-bottom: -0.02rem;
    text-decoration: underline;
    font-family: sans-serif;
   
  
    
}


/* The container must be positioned relative: */

.custom-select {
    position: relative;
    font-family: Arial;
    color: black;
    text-transform: uppercase;
    width: 3px;
    padding-top: 8px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
    
}

.select-selected {
    background-color: rgb(255, 255, 255);
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    color: black;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
    color: black;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: black;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}